
 <section class="total-body mobile-comon-animation mt-5 pt-3 d-block">
   <div class="blog-details-page comon-services-pge">

      <div class="container">
         <div class="row gx-lg-5" >
            <div class="col-md-7 col-lg-8" data-aos="fade-left">
                <div class="blog-post">
                    <figure>
                        <img src="/images/bg-consult.jpg" alt="post"/>
                    </figure>
                    <div class="d-lg-flex justify-content-between share-div">
                        <ul class="list-unstyled d-flex">
                           <li> <i class="far fa-user"></i>  توسط ناشر </li>
                           <li> <i class="far fa-calendar-alt"></i>  12 خرداد 1401 </li>
                           <li> <i class="far fa-comment"></i>  2 نظر </li>
                        </ul>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-share-alt"></i> اشتراک گذاری</a>
                    </div>
                    <h2> لورم ایپسوم متن ساختگی با تولید  </h2>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
                <div class="comment-sec-part">
                    <h2> نظرات</h2>
                    <div class="comon-com-div">
                       <div class="d-lg-flex justify-content-between">
                            <figure>
                                <img src="/images/testimonials-1-1.jpg" alt="user-pic"/>
                            </figure>
                            <div class="comment-text">
                                <div class="d-flex align-items-center">
                                    <h5 class="mb-0"> جواد دلاوری </h5> <span class="d-inline me-3"> 12 خرداد 1401 </span>
                                </div>
                                
                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                            </div>
                       </div>
                         
                    </div>
                    <div class="comon-com-div">
                        <div class="d-lg-flex justify-content-between">
                             <figure>
                                 <img src="/images/testimonials-1-1.jpg" alt="user-pic"/>
                             </figure>
                             <div class="comment-text">
                                 <div class="d-flex align-items-center">
                                     <h5 class="mb-0"> جواد دلاوری </h5> <span class="d-inline me-3"> 12 خرداد 1401 </span>
                                 </div>
                                 
                                 <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                             </div>
                        </div>
                          
                    </div>
                </div>
                <div class="leave-sec-part">
                    <h2> ثبت نظر </h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="نام خود را وارد کنید"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="متن پیام خود را وارد کنید"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="submit" class="btn subimt-comment" value="ارسال نظر"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4" data-aos="fade-right">
                <div class="category-div">
                    <h2> دسته بندی ها </h2>
                    <ul class="list-unstyled mt-4">
                       <li>
                           <a href="#"> <i class="fas fa-caret-left"></i> صنعت چاپ</a>
                       </li>
                       <li>
                        <a href="#"> <i class="fas fa-caret-left"></i> نرم افزار</a>
                       </li>
                       <li>
                        <a href="#"> <i class="fas fa-caret-left"></i> مطالب محبوب</a>
                       </li>
                       <li>
                        <a href="#"> <i class="fas fa-caret-left"></i> نرم افزار</a>
                       </li>
                       <li>
                        <a href="#"> <i class="fas fa-caret-left"></i> طراحی وب</a>
                       </li>
                       <li>
                        <a href="#"> <i class="fas fa-caret-left"></i> وردپرس </a>
                       </li>
                    </ul>
                </div>
                <div class="recent-post-div mt-5">
                    <h2 class="mb-4"> پست های اخیر </h2>
                    <div class="recent-post-div-insiide">
                        <a href="#" class="d-flex w-100 justify-content-between align-items-center">
                            <figure>
                                <img src="/images/rawpixel-567016-unsplash-copyright-min-1024x683.jpg" alt="post"/>
                            </figure>
                            <h5>  لورم ایپسوم متن ساختگی با تولید سادگی </h5>
                        </a>
                        <a href="#" class="d-flex w-100 justify-content-between align-items-center">
                            <figure>
                                <img src="/images/rawpixel-567016-unsplash-copyright-min-1024x683.jpg" alt="post"/>
                            </figure>
                            <h5>  لورم ایپسوم متن ساختگی با تولید سادگی </h5>
                        </a>
                        <a href="#" class="d-flex w-100 justify-content-between align-items-center">
                            <figure>
                                <img src="/images/rawpixel-567016-unsplash-copyright-min-1024x683.jpg" alt="post"/>
                            </figure>
                            <h5>  لورم ایپسوم متن ساختگی با تولید سادگی </h5>
                        </a>
                        

                    </div>
                </div>
                <div class="tag-div mt-5 mb-5 mb-lg-0">
                    <h2> تگ ها </h2>
                    <ul class="list-unstyled mt-3">
                       <li> <a href="#"> #طراحی</a> </li><li> <a href="#"> #نرم_افزار</a> </li>
                       <li> <a href="#"> #واکنشگرا</a> </li><li> <a href="#"> #توسعه</a> </li>
                       <li> <a href="#"> #اپلیکیشن</a> </li>
                    </ul>
                </div>
            </div>
         </div>
      </div>
          
   </div>

 </section>