 <section class="total-body mobile-comon-animation mt-5 pt-3 d-block">
   <div class="blog-page comon-services-pge">

      <div class="container">
          
          <div class="row g-lg-5 flex-column-reverse flex-md-row">
              <div class="col-lg-8" data-aos="fade-right">
                  <h2> رهبری تیم - بازاریابی دیجیتال </h2>
                  <div class="cr-details">
                    <h5>توضیحات فرصت شغلی</h5>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                  </div>
                  <div class="cr-details">
                    <h5>نقش ها و مسئولیت ها:</h5>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                    <ul class="me-3 p-0">
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                       <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li> 
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li> 
                       <li> چاپگرها و متون بلکه روزنامه و مجله</li>  
                    </ul>
                  </div>
                  <div class="cr-details">
                    <h5>صلاحیت ها:</h5>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                    <ul class="me-3 p-0">
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                       <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li> 
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li> 
                       <li> چاپگرها و متون بلکه روزنامه و مجله</li>  
                    </ul>
                  </div>

                  <div class="cr-details">
                    <h5>تجربیات مورد نیاز:</h5>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                    <ul class="me-3 p-0">
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li>
                       <li> نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </li> 
                       <li>لورم ایپسوم متن ساختگی با تولید سادگی </li> 
                       <li> چاپگرها و متون بلکه روزنامه و مجله</li>  
                    </ul>
                  </div>

                  <a data-bs-toggle="modal" data-bs-target="#jobModal" class="btn apy-bn mt-3 mb-5"> درخواست این فرصت شغلی</a>
                  
              </div>
              <div class="col-lg-4"  data-aos="fade-left">
                  <div class="job-ds-div mb-5 mb-lg-0">
                      <h2>مصاحبه کاری</h2>
                      <div class="comon-jobs-div">
                          <h5>آدرس :</h5>
                          <h6>ایران - خراسان رضوی - مشهد </h6>
                      </div>
                      <div class="comon-jobs-div">
                        <h5>عنوان فرصت شغلی:</h5>
                        <h6>مدیر پروژه </h6>
                      </div>
                      <div class="comon-jobs-div">
                        <h5>حقوق :</h5>
                        <h6>4500000 - 5500000 </h6>
                      </div>
                  </div>
              </div>
          </div>
                
      </div>
  
   </div>

 </section>