
 <section class="total-body mobile-comon-animation mt-5 pt-3 d-block">
   <div class="projects-page comon-services-pge">
    
      <div class="container">
        <h6 class="text-center" data-aos="fade-up">نمونه کار ها</h6>
        <h2 class="text-center mb-4" data-aos="fade-down">لیست آخرین نمونه کارها</h2>
        <div class="project-menu" data-aos="fade-up">

      
            <ul class="filter-list list-unstyled">
              <li data-filter="all" class="active">همه</li>
              <li data-filter=".ecommerce"> توسعه وبسایت </li>
              <li data-filter=".game"> توسعه بازی </li>
              <li data-filter=".graphic"> طرح های گرافیکی</li>
              <li data-filter=".app"> توسعه اپلیکیشن  </li>
        
             </ul>
         
       
        </div>
        <div class="row row-cols-1 row-cols-sm-2 gx-lg-5 my-5 row-cols-lg-3 gallery ">
          <div class="col mix ecommerce all" data-aos="fade-left">
             <a  data-fancybox="gallery" href="images/30d2ecd56e9c1ae31c927e29c0e6338d.png" class="comon-projets">
                <figure>
                   <img src="images/30d2ecd56e9c1ae31c927e29c0e6338d.png" alt="ps1"/>
                </figure> 
             </a>
          </div>
          <div class="col mix cms all" data-aos="fade-up">
            <a  data-fancybox="gallery" href="images/62dd189f4015cb48e616253af5376fa5.jpg" class="comon-projets">
               <figure>
                  <img src="images/62dd189f4015cb48e616253af5376fa5.jpg" alt="ps1"/>
               </figure> 
            </a>
          </div>
          <div class="col mix seo all" data-aos="fade-down">
            <a  data-fancybox="gallery" href="images/84a5f2715ef8ef2bd232323bf334a4ea--bird-logos-logo-design.jpg" class="comon-projets">
               <figure>
                  <img src="images/84a5f2715ef8ef2bd232323bf334a4ea--bird-logos-logo-design.jpg" alt="ps1"/>
               </figure> 
            </a>
          </div>
          <div class="col mix app all" data-aos="fade-right">
            <a  data-fancybox="gallery" href="images/dribbble.webp" class="comon-projets">
               <figure>
                  <img src="images/dribbble.webp" alt="ps1"/>
               </figure> 
            </a>
          </div>
          <div class="col mix cms all" data-aos="fade-up">
            <a  data-fancybox="gallery" href="images/attachment.jpg" class="comon-projets">
               <figure>
                  <img src="images/attachment.jpg" alt="ps1"/>
               </figure> 
            </a>
          </div>
          <div class="col mix cms all" data-aos="fade-down">
            <a  data-fancybox="gallery" href="images/92_4x.webp" class="comon-projets">
               <figure>
                  <img src="images/92_4x.webp" alt="ps1"/>
               </figure> 
            </a>
          </div>
        </div>
      </div>
          
   </div>

 </section>