
 <section class="total-body mobile-comon-animation overflow-hidden mt-5 pt-3 d-block">
   <div class="pricing-page comon-services-pge">

      <div class="container">
          <h6 class="text-center"  data-aos="fade-up">قیمت ها</h6>
          <h2 class="text-center"  data-aos="fade-down">قیمت خدمات </h2>
        <div class="row w-100 mx-auto my-5 text-center align-content-center justify-content-between">
          <div class="column "  data-aos="fade-left">
            <div class="pricing-card basic">
              <div class="pricing-header">
                <span class="plan-title">طرح پایه</span>
                <div class="price-circle">
                  <span class="price-title">
                    <span>69500</span>
                  </span>
                  <span class="info">/ ماهانه</span>
                </div>
              </div>
              <div class="badge-box">
                <span>تخفیف  35%</span>
              </div>
              <ul>
                <li>
                  <strong>1</strong> دامنه
                </li>
                <li>
                  <strong>10 گیگابایت </strong> فضای ذخیره سازی
                </li>
                <li>
                  <strong>50 گیگابایت</strong> پهنای باند
                </li>
                <li>
                  <strong>رایگان : 1</strong> دامنه
                </li>
                <li>
                  <strong>1 اکانت</strong> اف تی پی
                </li>
              </ul>
              <div class="buy-button-box">
                <a href="#" class="buy-now">خرید پلن</a>
              </div>        
            </div>
          </div>
          <div class="column"  data-aos="fade-up">
            <div class="pricing-card eco">
              <div class="pricing-header">
                <span class="plan-title">پلن اقتصادی</span>
                <div class="price-circle">
                  <span class="price-title">
                    <span>169500</span>
                  </span>
                  <span class="info">/ ماهانه</span>
                </div>
              </div>
              <div class="badge-box">
                <span>تخفیف  15%</span>
              </div>
              <ul>
                <li>
                  <strong>5</strong> دامنه
                </li>
                <li>
                  <strong>50 گیگابایت </strong> فضای ذخیره سازی
                </li>
                <li>
                  <strong>250 گیگابایت</strong> پهنای باند
                </li>
                <li>
                  <strong>رایگان : 2 </strong> دامنه
                </li>
                <li>
                  <strong>اکانت اف تی پی</strong> نامحدود
                </li>
              </ul>
              <div class="buy-button-box">
                <a href="#" class="buy-now">خرید پلن</a>
              </div>
            </div>
          </div>
          <div class="column"  data-aos="fade-down">
            <div class="pricing-card pro">
              <div class="popular">محبوب</div>
              <div class="pricing-header">
                <span class="plan-title">پلن پیشرفته</span>
                <div class="price-circle">
                  <span class="price-title">
                    <span>239500</span>
                  </span>
                  <span class="info">/ ماهانه</span>
                </div>
              </div>
              <div class="badge-box">
                <span>تخفیف  8%</span>
              </div>
              <ul>
                <li>
                  <strong>10</strong> دامنه
                </li>
                <li>
                  <strong>100 گیگابایت </strong> فضای ذخیره سازی
                </li>
                <li>
                  <strong>پهنای باند</strong> نامحدود
                </li>
                <li>
                  <strong>رایگان : 3</strong> دامنه
                </li>
                <li>
                  <strong>اکانت اف تی پی</strong> نامحدود
                </li>
              </ul>
              <div class="buy-button-box">
                <a href="#" class="buy-now">خرید پلن</a>
              </div>
            </div>
          </div>
          <div class="column"  data-aos="fade-right">
            <div class="pricing-card business">
              <div class="pricing-header">
                <span class="plan-title">پلن تجاری</span>
                <div class="price-circle">
                  <span class="price-title">
                    <span>599500</span>
                  </span>
                  <span class="info">/ ماهانه</span>
                </div>
              </div>
              <div class="badge-box">
                <span>تخفیف 5%</span>
              </div>
              <ul>
                <li>
                  <strong>نامحدود </strong> دامنه
                </li>
                <li>
                  <strong>250 گیگابایت </strong> فضای ذخیره سازی
                </li>
                <li>
                  <strong>نامحدود</strong> پهنای باند
                </li>
                <li>
                  <strong>رایگان : 5</strong> دامنه
                </li>
                <li>
                  <strong>نامحدود </strong> اکانت اف تی پی
                </li>
              </ul>
              <div class="buy-button-box">
                <a href="#" class="buy-now">خرید پلن</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
   </div>

  </section>