
 <section class="total-body mobile-comon-animation pt-3 d-block">
    <div class="service-block">
       <div class="container" >
           <h6 class="text-center " data-aos="fade-up"> خدمات ما </h6>
           <h2 class="text-center " data-aos="fade-down"> لیست خدمات ما </h2>
           <div class="row row-cols-1 row-cols-sm-2 g-lg-5  mt-0 row-cols-lg-3">
             <div class="col" data-aos="fade-right">
                <a href="#" class="comon-services text-center">
                   <figure>
                     <img src="images/it-icon.png" class="dissplay-show" alt="it"/>
                     <img src="images/it-icon-hover.png" class="hover-show" alt="it"/>
                   </figure>
                    <h5>راه کارها</h5>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                    <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
                </a>
             </div>
             <div class="col " data-aos="fade-left">
               <a href="#" class="comon-services text-center">
                  <figure>
                    <img src="images/web-icon.png" class="dissplay-show" alt="it"/>
                    <img src="images/web-icon-hover.png" class="hover-show" alt="it"/>
                  </figure>
                   <h5>توسعه وب</h5>
                   <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                   <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
               </a>
             </div>
             <div class="col " data-aos="fade-down">
               <a href="#" class="comon-services text-center">
                  <figure>
                    <img src="images/network.png" class="dissplay-show" alt="it"/>
                    <img src="images/network-hover.png" class="hover-show" alt="it"/>
                  </figure>
                   <h5>خدمات شبکه</h5>
                   <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                   <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
               </a>
             </div>
             <div class="col " data-aos="fade-up">
               <a href="#" class="comon-services text-center">
                  <figure>
                    <img src="images/seo-icon.png" class="dissplay-show" alt="it"/>
                    <img src="images/seo-icon-hover.png" class="hover-show" alt="it"/>
                  </figure>
                   <h5>بهینه سازی سئو</h5>
                   <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                   <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
               </a>
             </div>
             <div class="col " data-aos="fade-down">
               <a href="#" class="comon-services text-center">
                  <figure>
                    <img src="images/apps-icon.png" class="dissplay-show" alt="it"/>
                    <img src="images/apps-icon-hover.png" class="hover-show" alt="it"/>
                  </figure>
                   <h5>بهینه سازی اپلیکیشن</h5>
                   <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                   <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
               </a>
             </div>
             <div class="col " data-aos="fade-up">
               <a href="#" class="comon-services text-center">
                  <figure>
                    <img src="images/data-icon.png" class="dissplay-show" alt="it"/>
                    <img src="images/data-icon-hover.png" class="hover-show" alt="it"/>
                  </figure>
                   <h5>بازیابی داده ها</h5>
                   <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
                   <h6> ادامه مطلب <i class="fas fa-caret-left"></i> </h6>
               </a>
             </div>
           </div>
       </div>
    </div>