<div class="trust-choose-block">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-2 mt-3 g-lg-5 align-items-center">
        <div class="col "  data-aos="fade-down">
          <figure class="mb-0">
             <img src="images/support-center1.png" alt="bn"/>
          </figure>
           
        </div>
          <div class="col "  data-aos="fade-up">
             <h6 class="mt-4 mt-lg-0"> چرا اعتماد به ما؟ </h6>
             <h2> لورم ایپسوم متن ساختگی با تولید سادگی </h2>
             <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
             <ul class="list-unstyled mt-4">
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
             </ul>
          </div>
          
       </div>
    </div>
  </div>