<div class="why-choose-block">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-2 mt-5 g-lg-5 align-items-center flex-column-reverse flex-lg-row">
          <div class="col " data-aos="fade-right">
             <h6 class="mt-4 mt-lg-0"> چرا انتخاب ما؟ </h6>
             <h2> شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی </h2>
             <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
             <ul class="list-unstyled mt-4">
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
             </ul>
          </div>
          <div class="col " data-aos="fade-right">
            <figure class="mb-0">
               <img src="images/featured-image-7.png" alt="bn"/>
            </figure>
             
          </div>
       </div>
    </div>
  </div>
